                                     /* edicion MUCHO mas facil*/

body {background-image: url(../imagenes/fondo3.jpg.png);
  background-color: #F0F8FF;
  background-attachment: fixed;}
.titulo1 {color: #00CED1;
  text-align: center;
  font-size: 800%;
  text-decoration: underline;
  font-style: italic;}
h2 {text-decoration: underline;
  color: #ADD8E6;
  font-size: 250%;
  font-style: italic;}
.imagen {width: 30%;
  height: 90%;
  text-align: center;}
h3 {text-decoration: underline;
  color: #ADD8E6;
  font-style: italic;}
li {font-style: oblique;
    color: #E0FFFF;
    font-size: 125%;}
.hola {font-size: 250%}
 .info {text-align: center;}
.links {text-align: center;}

                                      /*estilos con flex-box y demas*/

.boton-flotante {position: fixed;
                  background-color: white;
                  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
                text-align: right;
              bottom: 650px;
            right: 200px;
          border-radius: 50px;
        font-size: 5px;
      width: 50px;
    height: 50px;}
.boton-flotante:hover {background-color: #45a049}
.potrero {width: 3%;
          height: 3%;
          align-self: center;}
.pie-de-pagina {text-align: center;}
footer {display: flex;
        justify-content: space-around;
        flex-wrap: wrap;}
         .icono1 {align-self: center;}
          .yop {color: #00CED1;
                align-self: center;
              font-size: 95%;
              text-decoration: underline;}
.micasa {flex-direction: column;}
        .aqui {color:  #ADD8E6;
              text-decoration: underline;}
header {border: 10px;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;}
        .vinculos {align-self: center;}
.contactos {text-decoration: underline;
           color: #7B68EE}
.contact {flex-direction: column;}
nav {display: flex;
    justify-content: center;}

                                        /* edicion con pseudo-clases*/

a {transition: transform 0.1s ease;}
a:hover {background-color: #FA8072;}
a:active {transform: scale(120%);}
.contact {transition: transform 0.1s ease;}
.contact:active {transform: scale(120%);}

                                     /*edicion con unidades de tamaño relativas*/

img {width: 4vw;}
iframe {width: 35vw;}
body {width: 100vw;}
.casita {width: 25vw;}
